body{
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}

.contenedor{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.logo{
    width: 100%;
    float: left;
}

.logo-img{
    float: left;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
}

.titulo{
    float: inherit;
    margin-left: 15%;
}

.izquierdo{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
}

.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
}

.derecho{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
}

#imgDer{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}

#texto{
    margin-left: 7%;
    margin-right: 5%;
    text-align: center;
}

#texto2{
    float: left;
    margin-left: 10%;
    color:#0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
}

#copiar{
    margin-left: 30%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #d8dfe8;
    border-radius: 24px;
    display: none;

}

.boton-izquierdo{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}

#btn-encriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #0A3871;
    color: white;
}

#btn-desencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    border-color: #0A3871;
    margin-left: 10%;
    background: #d8dfe8;
    color: #0A3871;
}

